.card-width {
    width: 240px;
    background-color: #91d5ff;
}

.card-width:hover {
    width: 260px;
}

.card-title {
    font-weight: bold;
}

.card-title, .card-content {
    text-align: center;
}

/**/
.ant-card {
    border-radius: 5px !important;
}