.card-width {
    background-color: #91d5ff;
    width: 100%;
    transition: 0.5s;
}

.card-width:hover {
    width: 240px;
}

.card-title {
    font-weight: bold;
}

.card-title, .card-content {
    text-align: center;
}

/**/
.ant-card {
    border-radius: 5px !important;
}

.card-distance {
    margin: 10px;
}

body {
    background-color: #00474f;
}